* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border-color: rgb(172, 172, 172); 
}

.App {
  height: 100vh;
  width: 100%;
  border: 1px solid var(--border-color);
  margin: 5px;
}

.border-right {
  border-right: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
